* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(#01012e, #240019);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section {
  background: url("stars1.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  text-align: center;
}

ul:hover li a {
  opacity: 0;
}

ul li {
  list-style: none;
  margin: 14px 0;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 6px 15px;
  border-radius: 20px;
  background: darkblue;
  display: inline-block;
  width: 120px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  position: relative;
  z-index: 10;
}

ul li a:hover {
  transform: scale(1.5);
  background: darkmagenta;
  opacity: 1;
}

li::after {
  content: attr(data-text);
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  letter-spacing: 50px;
  transition: all 0.5s ease;
}

ul li:hover::after {
  opacity: 0.5;
  letter-spacing: 5px;
}
ul li::before {
  content: "";
  width: 180px;
  height: 80px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 75%);
  border-radius: 50%;
  box-shadow: 0 0 80px orangered;
  opacity: 0;
  transition: all 0.5s ease;
}
ul li:hover::before {
  opacity: 0.8;
  width: 80px;
}
